/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light background for day mode */
  color: #000000; /* Black text for day mode */
  text-align: center;
}

/* Header Styles */
.header {
  text-align: center;
}

/* Collapsible Styles */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 28px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 80%;
  max-width: 1500px;
  margin: auto; /* Center align the collapsible */
}

.collapsible:hover,
.active {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 12px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* Theme Toggle Button */
#theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 2px solid #333;
  cursor: pointer;
}

/* Login Form Styles */
#login-container {
  width: 300%;
  margin: 150px auto;
  padding: 40px;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}

#login-form {
  background-color: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
}

#login-form input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: auto;
  display: flex;
}

#login-form button {
  background-color: #0056b3;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#login-form button:hover {
  background-color: #004494;
}

#hint-text {
  color: #888;
  font-size: 0.9em;
}

#question-label {
  font-size: 15px;
}

/* Presentation and Monthly Toggle Styles */
#presentation-container,
#month-toggles {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.month-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.month-btn:hover {
  background-color: #45a049;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  #login-container {
    width: 100%;
    margin: 20px auto;
    padding: 15px;
  }

  #login-form input[type="text"],
  #login-form button {
    font-size: 14px;
  }

  #theme-toggle {
    top: 20px;
    right: 20px;
  }
}

/* Night Mode Styles */
body.night-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

body.night-mode .collapsible,
body.night-mode .content,
body.night-mode #login-container,
body.night-mode #login-form,
body.night-mode footer,
body.night-mode #presentation-container,
body.night-mode #month-toggles {
  background-color: #333;
  color: #ffffff;
}

body.night-mode .collapsible:after {
  color: #ffffff;
}

body.night-mode #theme-toggle {
  background-color: #333;
  color: #ffffff;
}

body.night-mode .month-btn {
  background-color: #555;
}

body.night-mode .month-btn:hover {
  background-color: #666;
}

body.night-mode #login-form input[type="text"],
body.night-mode #login-form button,
body.night-mode #hint-text {
  color: #ffffff;
  background-color: #555;
  border: 1px solid #777;
}

body.night-mode #login-form button:hover {
  background-color: #666;
}

/* Cohort Description Styles */
.cohort-description {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  background-color: #f5f5f5; /* Light grey background for day mode */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  color: #000000; /* Black text for day mode */
}

body.night-mode .cohort-description {
  background-color: #2a2a2a; /* Dark grey background for night mode */
  color: #ffffff; /* White text for night mode */
}

.background-image-container {
  position: fixed; /* Fixed position */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to truly center the div */
  z-index: -1; /* Ensure it's behind other content */
}

.background-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-image: url("GenAIBackground.png"); /* Path to your image */
  background-position: center;
  background-size: cover;
}

.blurred-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* Adjust the blur intensity */
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent white */
}

.bold-text {
  font-weight: bold;
}

.session-text {
  margin-top: 120px; /* Adjust this value as needed to move the text down */
  font-weight: bold;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Light background for headers */
  color: #000000; /* Dark text color */
}

body.night-mode th {
  background-color: #333333; /* Darker background for headers */
  color: #ffffff; /* Light text color */
}
